
/*
--------------------------------------------------------------------------------------------------------
STYLING GENERAL ELEMENTS
--------------------------------------------------------------------------------------------------------
*/
* {box-sizing: border-box;}
select {
    padding: 7.5px;
}
input {
    padding: 10px;
    margin-bottom: 1px;
    border: 0px; 
}
body {
    background-image: url("/resources/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
button {
    border: 1px solid rgba(10,38,71, 0.9);
}

/*
--------------------------------------------------------------------------------------------------------
STYLING OUTERMOST DIV WRAPPER
--------------------------------------------------------------------------------------------------------
*/
#outer-wrapper-div {
    width: 650px;
    margin: 150px auto;
    padding: 15px;
    transition: 0.85s ease-in-out;
}
#outer-wrapper-div:hover {
    transform: scale(1.075);
}

/*
--------------------------------------------------------------------------------------------------------
STYLING PHYSICAL QUANTITY INPUT DIV CONTENT
--------------------------------------------------------------------------------------------------------
*/
#quantity-input-div select {
    width: 100%;
    margin-bottom: 10px;
}

/*
--------------------------------------------------------------------------------------------------------
STYLING INPUTS WRAPPER DIV
--------------------------------------------------------------------------------------------------------
*/
#inputs-wrapper-div {
    display: flex;
    flex-direction: row;
}

/*
--------------------------------------------------------------------------------------------------------
STYLING CLASSES
--------------------------------------------------------------------------------------------------------
*/
.title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 15px;
}

.bordered-div {
    border: 1px solid grey;
    border-radius: 10px;
}

.inputs-div { /* Div element that contains `input` element and `select` elements for user to input numerical values and select conversion units*/
    display: flex;
    flex-direction: column;
    width: 45%;
}

.left {margin-left: 5px;}
.right {margin-right: 5px;}

.convert-icon {
    width: 10%;
    background-image: url("/resources/images/convert.png");
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.clear-btn {
    margin-top: 7.5px;
    padding: 8.5px 15px;
    float: right;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
    overflow: auto;
}
/*
--------------------------------------------------------------------------------------------------------
STYLING COLORS
--------------------------------------------------------------------------------------------------------
*/
#outer-wrapper-div {background-color: rgba(10,38,71, 0.65); color: white}
select {background-color: 	rgba(32,82,149, 0.5); color: white;}

input {background-color: rgba(44,116,179, 0.3);  color: white;}
input:focus {outline: 0;border-bottom: 2px solid rgba(10,38,71, 1);}

button {background-color: rgba(10,38,71, 0.75);  color: white;}
button:hover {background-color: rgba(13,10,28, 0.8);}
button:active {background-color: rgba(13,10,28, 1);}